@media (min-width: 800px) {
  .content {
    max-width: 750px;
  }

  header #avatar {
    display: inline-block;
  }

  .photos-grid-container {
    display: grid !important;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: 33% 33% 33%;
  }
}
