{{ define "main" }}

{{- if isset .Site.Taxonomies "categories" }}
{{- if not (eq (len .Site.Taxonomies.categories) 0) }}
<h2>Post Categories</h2>
<ul class="categories_list">
	{{- range $name, $items := .Site.Taxonomies.categories }}
	<li>
		<a href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">
			<strong>{{ $name | title | humanize }}</strong> ({{ $items.Count }})
		</a>
	</li>
	{{- end }}
</ul>
{{- end }}
{{- end }}


{{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "post") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
{{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "post" }}

<div class="archive">
	<h2>Post List</h2>
	{{ range .Site.RegularPages.GroupByPublishDate "2006" }}
	{{ if ne .Key "0001" }}
	<div class="archive__group-year">
		<h3 class="archive__group-year-header">{{ replace .Key "0001" "" }}</h2>
			{{ range .Pages.GroupByDate "January" }}
			<div class="archive__group-month">
				<h3 class="archive__group-month-header">{{ .Key }}</h3>
				<div class="archive__group-posts">
					<ul>
						{{ range where .Pages "Type" $contentTypeName }}
						{{ if eq .Kind "page" }}
						<li class="archive__post">
							<a class="archive__post-title"
							href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
						</li>
						{{ end }}
						{{ end }}
					</ul>
				</div>
			</div>
			{{ end }}
		</div>
		{{ end }}
		{{ end }}
	</div>
</div>
{{ end }}
